﻿<div class="jumbotron">
    <h1>Lamda WebUI</h1>
    <p class="lead">A feladata hogy serverless környezetet emuláljon. A felhasználó JavaScript kódokat futtat, megadott sorrendben, gyakorlatilag egy pipeline-t definiálva.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Tasks (beadandó, itt)</h2>
        <p>Futtatható függvények listázása. A prog4 beadandó feladat itt kezdődik.</p>
        <p>@Html.ActionLink("Listázás", "Index", "LamdaTask", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
